.overlay{
  top: 0;
  left: 0;
  height: 140vh;
  width: 140vw;
  display: block;
  position:absolute;
  -webkit-backdrop-filter: blur(25px);
  opacity:1;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#work{
  scale:1.3;
  pointer-events: none;
}

span{
  /* font-family: 'IBM Plex Mono', monospace;
  font-style: italic; */
}


h1{
  break-inside: avoid;

}
html, body {
  overflow-x: hidden;
}

body{
  position: relative
  /* overflow-x: hidden; */

  /* font-family: 'Rosarivo', serif; */
}



.card h2{
  /* font-weight: 400;
  font-size: 12px; */
}
