p, ul {
      font-weight: 400
}

div h1{
      font-weight: 600;
      margin: 0px 0px 4px 0px; 
}

strong{
      color: #de3b7c;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: rgb(224, 224, 224);
}

.avatar {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

#block img{
  position:absolute;
  top: 0;
  left: 0;
  max-width:736px;
  max-height:414px;
  width: auto;
  height: auto;
  /* height: 100px;
  width: 100px; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
      .section {
        @apply grid grid-cols-8 gap-8 p-8 overflow-hidden sm:max-w-screen-xl m-auto; 
      }
      .info {
          @apply  z-50 col-span-7 col-start-2 md:col-span-4 md:col-start-3 ;
      }
      .infoLC{
            @apply col-span-5 md:col-span-3;
      }

      .titel{
            @apply text-xl md:text-2xl z-50;
      }

      .p {
            @apply md:text-lg;
      }
      .img {
            @apply  z-10 rounded-lg;
      }
      .blogImg{
            @apply  m-auto min-w-full  my-16 rounded-md ;  
      }

      .blogPost {
            @apply row-start-2 col-start-3 col-span-full md:col-start-4 md:col-span-4  mb-44 ;
      }
      
     
     

      .blogCite{
            @apply italic border-l-4  px-8 my-8;
      }
      .blogTitel{
            @apply text-3xl md:text-4xl mb-8 ;
      }
      .blogSubTitel{
            @apply text-2xl my-8 md:text-3xl  ;
      }
      .blogDate{
            @apply font-mono  text-left text-gray-600;
      }
      /* Blog Navigation */
      .blogNav{
            @apply mt-56 col-span-2 col-start-1  md:w-4/6;
      }
      .navTxt{
            @apply p-3 w-5/6 truncate text-left;
      }
      .active{
            @apply bg-zinc-600 ;
      }
    }
@layer utilities {
      @keyframes fadeInUp {
            0% {
                  opacity: 0;
                  transform: translateY(50%);
            }
            100% {
                  opacity: 1;
                  transform: translateY(0);
            }
      }
      .fadeInUp {
            animation: fadeInUp 0.8s;
      }
      @keyframes fadeInDown {
            0% {
                  transform: translateY(-200%);
            }
            100% {
                  transform: translateY(0);
            }
      }
      .fadeInDown {
            animation: fadeInDown 0.8s;
      }
      @keyframes scale {
            0% {
                  opacity: 0;
                  transform: scale(0.8);
            }
            100% {
                  opacity: 1;
                  transform: scale(1);
            }
      }
      .scale {
            animation: scale 1s;
      }
    
      .fadeInUp {
            animation: fadeInUp 0.8s;
      }
      @media (prefers-reduced-motion) {
            .fadeInUp,
            .scale,.fadeInDown,.fade {
                  animation: none;
            }
      }
      @keyframes fade {
            0% {
                  opacity: 0;
            }
            100% {
                  opacity: 1;
            }
      }
      .fade {
            animation: fade 1s;
      }
      @keyframes float {
            0% {
                  transform: translatey(0px);
            }
            50% {
                  transform: translatey(-15px);
            }
            100% {
                  transform: translatey(0px);
            }
      }
  }